@font-face {
    font-family: Morganite;
    src: url('font/Morganite-Bold.ttf');
}

html {
    font-size: 64%;
}

body{
    background-image: url(artists-audience-band-426976.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    font-family: Morganite;
    height: 100vh;
    overflow-y: hidden;
}

.keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20%;
}

.key {
    background: rgba(0, 0, 0, 0.1);
    border: solid .4rem #f6f6f6;
    border-radius: .5rem;
    color: #f6f6f6;
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    text-shadow: 0 0 5px black;
    transition: all .15s;
    width: 8rem;
}

.playing {
    border-color: #023D79;
    box-shadow: 0 0 1rem #023D79;
    transform: scale(1.05);
}

kbd {
    display: block;
    font-size: 4rem;
}

.header {
    font-size: 4.5rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 15rem;
    width: 100%;
}

.header-span {
    color: #3565A3;
}

h2 {
    color: white;
    letter-spacing: 1rem;
    position: relative;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 1rem;
    }

    .header {
        top: 5%;
        font-size: 3rem;
    }

    .keys {
        flex-wrap: wrap;
    }

    .key {
        width: 15rem;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: .6rem;
    }
    
    .key {
        width: 7.5rem;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: .4rem;
    }

    .key {
        width: 5rem;
    }
}
